body 
{
color: rgb(182, 10, 104);
background: rgb(248, 244, 244);
margin: 0px;
font-family: "Oswald", sans-serif;
margin-bottom: 100px;
}
header{
    border-bottom:solid rgb(57, 76, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(57, 76, 247);
}
.chamada{
    background: rgb(245, 180, 216);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
 .chamada-texto{
    margin-right: 5%;

}
h1{
    font-size:40px;
}
p{
   font-size: 20px; 
}
img{
    height: 200px;

}
 .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }
 .categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0%50px;

 }
 .categoria-videos img{
    opacity:0,5;
    height: 200px;;
 }
 .categoria-videos img:hover{
    opacity: 1;
    border: 1px solid rgb(204, 23, 23);
 }
 .categoria h2{
    color: rgb(57, 76, 247);
 }
